.errorInput {
  border: 2px solid red !important;
  border-radius: 5px !important;
} 
.errorInp {
  color: rgb(196, 14, 14) !important;
  margin: 5px;
  font-size: 20px;
  font-weight: 600;
} 

.formInput{
  display: inline;
  flex-direction: row;
}

button:disabled {
  background: #ccc;
}
.buttonEnvio{
  width: 300px;
  height: 40px;
  background-color: #00b300;
  margin-left: 60px;
  border-radius: 5px;
  color: aliceblue;
  border: 0px;
}

.next{
  display: inline;
  flex-direction: column
  }
  .next button {
    margin-left: 60px;
    color: #00b300;
    font-weight: 600;
  }
